body {
  background-color: black;
}
.App {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: white;
  width: 400px;
  border-radius: 16px;
}
.row {
  display: flex;
  
}

